.builder-sidebar_scroll {
    background: #3e4652;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 21.66667%;
}
.col-md-10 {
    flex: 0 0 auto;
    width: 73.33333%;
}
.formcomponent{
    display: block;
}

.formcomponents .formcomponent {
    padding: 18px 18px 18px 18px !important;
    /* margin-top: 0.2rem; */
    font-size: 14px !important;
    border-bottom: 1px solid #757575 !important;
    border-radius: 0 !important;
    background-color: #616161 !important;

}
// .btn-primary{
//     background-color: #616161 !important;
// }
.builder-sidebar .btn{
    color: white !important;
}
.formcomponent{
    background-color: #616161 !important;
}
.builder-sidebar .card{
    background-color: transparent;
}

.form-builder-panel .card-header{
    border-bottom:none;
    color: white !important;
}

.form-builder-panel .card-header h5{
    border-bottom:none;
    color: white !important;
}

.formcomponents .formcomponent {
    
    padding: 18px 18px 18px 18px;
    margin-top:0 !important;
    font-size: 15px;
  
}

.builder-sidebar_search{
    display: none;
}
.accordion{
    border-radius: 0;
}

