.create-form-btn{   
 background-color: #ff6100;
border-color: #ff6100;
padding: 2px;
border-radius: 2px;
outline: none;
border: 1px solid #ff6100;
padding: 3px;
padding-right: 18px;
padding-left: 18px;
color: #fff;
}
.create-link{
    text-decoration: none;
    color: #fff;
}